# Henokh P. Pangaribuan - 2473019

## 25: Pengaturan tampilan (display option) pada Python Pandas

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df

### Pengaturan tampilan

In [ ]:
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 6)
pd.set_option('display.max_colwidth', 20)

df

In [ ]:
pd.reset_option('^display.', silent=True)

df

In [ ]:
pd.describe_option()

## 26: Membuat Data Frame dari hasil seleksi Spreadsheet

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Membuat Data Frame dari hasil seleksi Spreadsheet

In [ ]:
df = pd.read_clipboard()
df

## 27: Mengenal fungsi agregasi first() dan last()

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'], 
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

### Mengenal fungsi agregasi first() dan last()

In [ ]:
df.groupby('dokter')['pasien'].count().to_frame()

In [ ]:
df.groupby('dokter')['pasien'].first().to_frame()

In [ ]:
df.groupby('dokter')['pasien'].last().to_frame()

## 28: Mengenal explode dan implode list pada Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'Team':['DC', 'Marvel'], 
     'Heroes':[['Batman', 'Superman', 'Wonder Woman', 'Aquaman', 'Green Lantern', 'Shazam'], 
               ['Iron Man', 'Captain America', 'Ant-Man', 'Black Panther', 'Captain Marvel']]}

df = pd.DataFrame(d)
df

### Explode

In [ ]:
df1 = df.explode('Heroes')
df1

### Implode

In [ ]:
d = {'Team':['DC', 'Marvel']}
df2 = pd.DataFrame(d)
df2

In [ ]:
df2['Imploded'] = df1.groupby(df1.index)['Heroes'].agg(list)
df2