# Henokh P. Pangaribuan - 2473019

## 21: Melakukan agregasi menggunakan agg()

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df = pd.read_csv('./data/Iris.csv')
df

### Mengenal groupby() dan fungsi agregasi

In [ ]:
df.groupby('Species')['PetalLengthCm'].count().to_frame()

In [ ]:
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

In [ ]:
df.groupby('Species')['PetalLengthCm'].median().to_frame()

### Agregasi dengan agg()

In [ ]:
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

### Agregasi dengan describe()

In [ ]:
df.groupby('Species')['PetalLengthCm'].describe()

## 22: Memantau penggunaan memory suatu Data Frame

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
df_titanic = pd.read_csv('./data/titanicfull.csv')
df_titanic.head()

In [ ]:
df_iris = pd.read_csv('./data/Iris.csv')
df_iris.head()

### Memantau penggunaan memory suatu Data Frame

In [ ]:
df_titanic.info(memory_usage='deep')

In [ ]:
df_iris.info(memory_usage='deep')

### Memantau penggunaan memory untuk setiap kolom dari suatu Data Frame

In [ ]:
df_titanic.memory_usage(deep=True)

In [ ]:
df_iris.memory_usage(deep=True)

## 23: Seleksi baris pada Data Frame dengan query()

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Data Frame

In [ ]:
d = {'kolom_satu':[1, 2, 3, 4, 5], 
     'kolom dua':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

### Seleksi baris dengan query()

In [ ]:
df.query('kolom_satu > 2')

In [ ]:
df.query('`kolom dua` > 30')

## 24: UTC dan konversi zona waktu (time zone) pada Python Pandas

### Import Modules

In [ ]:
import pandas as pd

print(pd.__version__)

### Persiapan Series

In [ ]:
s = pd.Series(range(1591683521, 1592201921, 3600))
s = pd.to_datetime(s, unit='s')
s.head()

### Pengaturan zona waktu (time zone)

In [ ]:
s = s.dt.tz_localize('UTC')
s.head()

In [ ]:
s = s.dt.tz_convert('Asia/Jakarta')
s.head()

In [ ]:
s = s.dt.tz_convert('Australia/Hobart')
s.head()